.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 14rem
}

.footer p {
  font-size: 0.75rem;
  font-weight: 700;

  letter-spacing: 0.1rem;
}

.footer p span{
  font-size: 1.25rem;
  padding-right: 0.25rem;
}

.footer .feedbackButton {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 2.794rem;
  height: 2.794rem;
  margin: 0;
  padding: 0;
  border: none;

  border-radius: 100%;
  background: var(--gray-300);
  color: var(--gray-200);

  cursor: pointer;

  transition: background-color 0.2s, color 0.2s;
}

.footer .feedbackButton::before {
  content: '\276F';
  display: block;
  text-align: center;

  font-size: 1rem;
  
}

.footer .feedbackButton:hover {
  background: var(--green-100);
  color: var(--green-500);
}


.footer .feedbackButton:disabled {
  background: var(--gray-500);
  color: var(--gray-200);
}

.footer .finallyButton {
  margin: 0;
  padding: 0.75rem 1.25rem;

  border-radius: 8px;
  border: 1px solid var(--green-100);
  background: var(--gray-400);

  font-size: 1.25rem;
  color: var(--green-100);

  line-height: 1.375rem;

  cursor: pointer;
  
  transition: background-color 0.2s;
}

.footer .finallyButton:hover {
  background: var(--gray-600);
}


@media only screen and (max-width: 767px) {
  .footer {
    margin-top: 2rem;
  }
}


@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer {
    margin-top: 2rem;
  }
}
